/* This file will hold styles that are loaded using the same media query as the narrow grid. */

body {
  background:url('../img/bg.png') repeat-x #1a1a1a;
  font-size:10px;
  color:#fff;
  
}

a:link,a:visited {
  color:#fff;
  text-decoration:none;
}
.clearLeft {
  clear:left;
}
.clearRight {
  clear:right;
}

h1.site-name, h2.site-name {
  background:url('../img/header.png') no-repeat 0 0;
  margin:0px;
  text-indent:-9999px;
}
h1.site-name a, h2.site-name a {
  display:block;
  height:112px;
} 
.site-name-slogan {
  float:none;
}
h3 {
  font-size:1.1em;
  color:#fff;
  text-transform:uppercase;
  margin:0 0 20px 0;
}

#breadcrumb {
  display:none;
}

/* Navigation */
.navigation {
  overflow:hidden;
}
#main-menu {
  margin:30px 0 0;
  padding:0px;
  float:left;
}
  #main-menu li {
    overflow:hidden;
  }
  #main-menu a {
    border:1px solid #484848;
    color:#fff;
    float:left;
    font-size:1.1em;
    text-transform:uppercase;
    line-height:20px;
    margin:0 10px 0 0;
    padding:10px 20px;
    text-decoration:none;
  }
  
#zone-content {
  margin:20px auto 0;
}
/* Blocks */

.block-inner {
  border-top:1px solid #353535;
}
h2.block-title {
  font-size:11px;
  color:#FFF;
  margin:0 0 25px 0;
  text-transform:uppercase;
}
.block-inner p {
  color:#eeeeee;
  font-size:1.1em;
  line-height:2.2em;
}
#share-story {
  text-align:center;
}
#share-story a {
  border:1px solid #484848;
  color:#fff;
  display:inline-block;
  font-size:1.1em;
  text-transform:uppercase;
  line-height:20px;
  margin:0 auto;
  padding:10px 20px;
  text-decoration:none;
}


.hp-recent-item {
  margin:0 0 20px 0;
}
.story-photo {
  float:left;
  border:1px solid #484848;
  margin:0 20px 0 0;
  padding:10px;
}
.featured-photo img {
  border:1px solid #484848;
  margin:0 20px;
  padding:10px;
}
.story-thumbs-photo {
  text-align:center;
}
.story-thumbs-photo img {
  border:1px solid #484848;
  margin:0 auto;
  padding:10px;
}

.story-shared {
  color:#fff;
  font-size:1.4em;
}
.story-name a {
  color:#fff;
  font-size:1.8em;
  line-height:1.4em;
  text-decoration:none;
}

.story-more a {
  font-size:2.0em;
  margin:10px 0 0 0;
  text-decoration:underline;
}

.story {
  font-size:2.0em;
  line-height:1.2em;
}
#hp-featured .story-shared {
  font-size:1.8em;
}
#hp-featured .story-name a{
  font-size:3.0em;
}

.stories-recent-item {
  margin:0 0 20px 0;
}
#stories-thumbs .story-shared {
  font-size:1.1em;
}
#stories-thumbs .story-shared, #stories-thumbs .story-name {
  margin:0 auto;
  width:140px;
}
#stories-thumbs .story-name a{
  font-size:1.4em;
}


/* User profile page */
.story-content {
  background:#ffffff;
  color:#000;
}
#user-profile .story-section {
  position:absolute;
}
.user-avatar {
  text-align:center;
}
.user-avatar img {
  border:1px solid #cccccc;
  padding:10px;
}
.nav-return {
  margin:20px 0 0 20px;
}
.nav-return a {
  color:#000;
  font-size:14px;
  text-decoration:underline;
}
#user-profile .addthis_toolbox {
  text-align:right;
  margin:20px 0 0 0;
}
.addthis_toolbox .addthis_pill_style {
  margin:0 10px 0 0;
}
.addthis_button_google_plusone {
  width:60px;
  height:30px;
}

.story-container {
  border-top:1px solid #cccccc;
  margin:20px 0 20px 0;
  padding:20px 0 0 0;
}

.story-section {
  background: url('../img/sprite.png') no-repeat 105px 20px;
  color:#5f5f5f;
  font-size:11px;
  font-weight:bold;
  padding:0 0 29px 0;
  text-align:right;
  
}
.story-shared {
  color:#000;
  font-size:14px;
}
.story-loc {
  background: url('../img/sprite.png') no-repeat 0px -26px;
  float:right;
  font-size:14px;
  padding:0 0 0 15px;
}
.story-title {
  font-size:26px;
  margin:0 0 20px 0;
}
.story-content {
  font-size:14px;
}

/* Story images */
.photos-container, .video-container {
  margin:0 0 20px 0;
}
.user-pictures {
  text-align:center;
}
.user-pictures ul {
  list-style:none;
}
.user-pictures li {
  margin:0 0 10px 0;
}
.user-pictures img {
  background:#dddddd;
  padding:10px; 
} 

